.active {
   color: red;
   background-color: blue;
}

.card, .card td {
   border: 3px solid black;
   text-align: center;
   padding: 5px;
}

.card {
   border-collapse: collapse;
   width: 100%;
}

.blue-border {
   display: inline-block;
   padding: 5px;
   border: 5px solid blue;
}

.width-button {
   width: 100%
}